body
{
	margin: 0;
	padding: 0;
	font-family: arial;
	margin:auto;
	background-color:#f4f4f4;
}
.tim-kiem img
{
	position:absolute;
	width: 26%;
	height: 50%;
	margin-left:-166px;
	margin-top:-9px;
}
.container
{

width: 960px;

min-height: 372px;

margin:auto;
}
.header
{
	 
min-height: 218px;
	 
background-color: #250096ba;
	 
margin:auto;
}
.footer{
	 
	 width: 960px;
	min-height:70px;
	background-color:#4caf50ad;
	 
	margin:auto;
	clear:both;
}
 .a{
 	text-decoration:none;
 	color:#fff;
 }
 .a:hover
 {
 	color:#9E9E9E;
 }
 .a1
 {
 	color:orange;
 }
 .a1:hover
 {
 	color:#fff;
 }
 .a2
 {
 	color:#37cfdd;
 }
 .a2:hover
 {
 	color:#fff;
 }
 .navigate
 {
 	 padding-top:6px;
 	 margin-left:200px;
 
 	 
 }
 .navi
 {

float:left;

margin-right: 14px;

font-family: arial;

font-size: 19px;

position: relative;
}
.tim-kiem
{
	position:relative;
  	margin-top:30px;
   height:64px;
  	background-color:#009688;
  	 padding:30px 0px 0px 200px;
  	 
}
/* .div-menu-bu:hover .maithi
{
	transition:1s;
	transform:scale(1.2);
	
} */
.tim
{
	float:left;
	margin-right:40px;
	position:absolute;
   right:0;
	top: 27px;
}
.div-menu-bu
{
	 
width:100%;
	 
min-height: 180px;
	 
/* background-color:#ffeb00b5; */
	 
position:relative;
	 
overflow: -webkit-paged-x;
	 
background-size:cover;
} 
.maithi
{
	width: 100%;
	height: 176px;
	/* transition:1s; */
	tranform: translate(-50%,-50%);
	position: absolute;
	top: 34px;
}
ul
{
	list-style:none
}
.cha
{
	margin-top:10px;
	width:1183px;
}
 .div-menu-bu
 {
 	
 }
.img-chay
{
	/* overflow:hidden; */
	width:100%;
	left: 0px;
	top: -171px;
}
.cha
{
	width: 960px;
	height: 48px;
	/*  background-color:#66775552; */
	margin:auto;
	/*  position:relative; */
}
 
.con
{
	width: 152px;
	height: 57px;
	margin-left: 8px;
	margin-top: 18px;
	margin-bottom: 21px;
	float:left;
	border-radius: 12px;
	text-align:center;
	overflow:hidden;
	transition:0.5s;
}

  .anh1
  {
     width: 100%;
     border-radius: 7%;
     height: 57px;
     margin-left: 0px;
  }
  .anh
  {
  	float:left;
   
  
  }
  .anh2
  {
  	margin-top: 2px;
  	margin-left: 36px;
  	font-weight: bold;
  	font-size:20px;
  }
  .content
  {
  	 
width: 960px;
  	 
margin: 12px auto;
  	 
min-height: 284px;
  }
  .quang
  {
  	width: 295px;
  	height: 50%;
  	background-color:#554e33;
  	float:left;
  	margin:1px;
  	transition:1s;
  }
   
  .cha .cha-di-chuyen .con:hover
  {
  	background:#fff;
  	box-shadow: 2px 3px 15px 4px #9e9e9e;
  	transition:1s;
  }
   .nho p
   {
   	   
   }
.div-h1
{
	width: 100%;
	height: 35px;
	/* background-color:#466787; */
	font-size:25px;
	text-align:left;
	line-height:35px;
	 
}
.most a
{
	text-decoration:none;
	display:block;
	width: 100%;
	height: 100%;
	color: darkgreen;
}
.most-popular
{
	width:100%;
	min-height: 1287px;
	/* background-color: #3ab7877a; */
}

.most
{
 width: 30%;
 height: 60px;
 background-color: #33eecb4d;
 margin-right: 2px;
 margin-bottom: 3px;
 border-radius: 8px;
}
/* .most:nth-child(odd)
{
	margin-right: 3px;
}
.most:nth-child(even)
{
	margin-right: 3px;
}
  */
 .most1
 {
 	 background-color: #CDDC39;
 	 width: 236px;
 	 height: 351.5px;
 	 padding-left: 2px;
 	 /* border: 1px solid #f5f5f5; */
 	 background-color: #fff;
 	 opacity: .9;
 	 transition:1s;
 	 float: left;
 }
 .nho1
 {
 	width:144px;
 	height:144px;
 	
 	margin:15px auto;
 	 
 }
 .nho1 .img
 {
 	border-radius:50%;
 	width: 100%;
 	height: 100%;
 	transition:1s;
 }
 .most-nho
 {
 	position:relative;
 	 
 
 }
 .nho11
 {
 	 
 	
 	text-align:center;
 	margin:10px auto; 
 }

 /* .most1:nth-child(4)
 {
    margin:0;
 }
 .most1:nth-child(8)
 {
    margin:0;
 } */
  
.img1
{
	width: 238px;
	height: 231px;
	border-radius: -2%;
	transition:1.5s;
}
.nho
{
	float:left;
	/* margin-left:10px; */
	margin: 0px 0 3px -1px;
	overflow:hidden;
}
.most
{
	overflow:hidden;
}
.nho1 .img:hover
{
	transform:scale(1.1);
	transition:1.5s;
}
.img1:hover
{
	transform:scale(1.1);
	transition:1.5s;
}
.most:hover 
{
	box-shadow: 5px 10px 18px #00bcd440;
	/* box-shadow: 0px 2px 4px 0px rgba(0,0,0,.25); */
	/* position: relative; */
	background-color:#fff;
	transition:1s;
}
.Keo
{
  font-size: 15px; 
	/* margin: 10px 0 10px 12px; */
	text-align:center;
}
.collections
{
	margin-top: 20px;
	width: 100%;
	height: 300px;
	 
	 
}
.collec
{

	width: 294px;
	height: 149px;
	background-color:#5268d0ad;
	float:left;
	margin-right: 1px;
	margin-bottom: 1px;
	padding-left: 2px;
	transition:1s;
}
.product-img
{
	width: 67px;
	height: 67px;
	float:left;
	margin-right:22px;
	border-radius:50%;
	transition:1.5s;
}
 
 .collect-product
 {
 	width: 100%;
 	height: 67px;
 	margin: 36px 25px;
 }
.colle
{
	width: 100%;
	height: 100%;
	text-align:center;
	position:relative;
}
.colle .p
{
	margin: 10px auto;
}
.colle .p-sanpham
{
    position:absolute;
    margin: -1px 94px;
}
.collec a
{
	text-decoration:none;
	 
}
.collec:hover
{
	box-shadow: 5px 10px 18px red;
	/* box-shadow: 0px 2px 4px 0px rgba(0,0,0,.25); */
	/* position: relative; */
	background-color:#fff;
	transition:1s;
}
.product-img:hover
{
	transform:rotateY(360deg);
	transition:1.5s;
}
.xe-may
{
	padding-left: 30px;
	float:left;
}


.the-p
{
	margin: 29px 12px;
	font-weight: bold;
	font-size: 23px;
	color: #f57224;
}
.ten-san-pham
{
	margin: 14px 11px;
	font-size: 16px;
}
.xe-may
{
     text-align:center;
     line-height:60px;
     font-size: 27px;
     margin-bottom: 120px;
     margin-top: 10px;
}

.footer
{
  background-color:orange;
  text-align:center;
  line-height:70px;
}

.button_1
{
	height: 32px;
	background: #e8401d;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color:#ffffff;
	float: right;
	margin-botom: -40px;
	position: absolute;
	right: 10px;
	top: 6px;
}
.input
{
	padding: 16px;
	height: 25px;
	width: 250px;
}
.form
{
	float:right;
	margin-bottom:5px;
}
.a
{
	display:block;
	padding: 5px;
	color:#ffb84d;
}

.sanpham
{
	width: 100%;
	min-height: 502px;
	margin-top: 12px;
	border-radius:5px;
}
.img-right
{
	width: 357px;
	height: 500px;
	/* background-color:#bf80ff; */
	float:left;
	background-color: #fff;
}

.thong-tin
{
	width: 601px;
	height: 500px;
	/* background-color:#44ee77; */
	float:left;
	/* border:1px solid #9999ff; */
	background-color: #fff;
}
.img-sanpham
{
	width: 356px;
	height: 350px;
}
.nam-san-pham-cung-loai
{
	margin-top: 96px;
	width: 100%;
	min-height: 351.5px;
}
.tensanpham

{
	margin: 5px 5px;
	color: #1a9cb7;
}
.gia-ban
{
	margin: 5px 5px;
	color: #f57224;
	font-size: 30px;
}
.so-luot-xem
{
   margin: 5px 5px;
   color: #212121;
   font-size: 20px;
}
.so-luot-ban
{
    margin: 5px 5px;
    border-bottom:1px solid #9999ff;
    color:#212121;
    font-size: 20px;
}
.mo-ta
{
   margin: 5px 5px;
    
}
.xuat-xu
{
  margin: 5px 5px;
}
.nha-san-xuat
{
	margin: 5px 5px;
	 
}
.mua-ngay
{
      margin: 5px 5px;
}
.them-vao-gio-hang
{
   margin: 5px 5px;
}
.nut-nhan
{
	text-decoration: none;
	display:inline-block;
	padding: 15px;
	background-color:#ffb916;
   float:left;
   margin:18px 5px;
   color: #fff;
}
.nut-nhan1

{
	text-decoration: none;
	display:inline-block;
	padding: 15px;
	background-color:#f57224;
   float:left;
   margin:18px 5px;
   color: #fff;
}
.a-nha-san-xuat
{
	text-decoration: none;
	color: #212121;
	font-size: 20px;
	
}
.p-gia-ban
{
	 margin:5px -5px;
}
.p-so-luot-ban
{
	margin:5px 0px;
}
.p-xuat-xu
{
	margin:5px 0px;
	color:#212121;
	font-size:25px;
	
}
.p-luot-xem
{
	margin:5px 0px;
}
h1
{
	margin:5px 0px;
color:#9999ff;
}
.p-mota
{
	margin:5px 0px;
}
.cung-loai
{
	width: 280px;
	height: 27px;
	background-color:#a6ff4d;
	color: black;
	border-radius:3px;
	text-align:center;
	line-height: 28px;
	border-radius: 10px;
	margin-bottom: 25px;
}
.ban-chay-nhat
{
	 
min-height: 441px;
	 
margin-top: 46px;
}
.ban-chay
{
	position:absolute;
	top: 468px;
	background-color:#a6ff4d;
	color: currentColor;
	padding: 4px 22px;
	border-radius: 10px;
}

.box
{
	width: 300px;
	padding: 9px;
	position:absolute;
	top: 49%;
	left: 50%;
	transform: translate(-50%,7%);
	background:#191919;
	text-align:center;
}

.box h1
{
	color:white;
	text-transform:uppercase;
	font-weight:500;
}
.box .username,.box .password
{
	border:0;
	background: none;
	display:block;
	margin: 20px auto;
	text-align:center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline:none;
	color:white;
	border-radius:24px;
	transition:0.25s;
}
.box .username:focus,.box .password:focus
{
	width: 280px;  
	border-color:#23cc71;
}
.box .submit
{
	border:0;
	background:none;
	display:block;
	margin:20px auto;
	text-align:center;
	border:2px solid #2ecc71;
	padding: 14px 40px;
	outline:none;
	color:white;
	border-radius:24px;
	transition: 0.25s;
	cursor:pointer;
}

.box .submit:hover
{
	background: #2ecc71;
}
.b2
{
	position:absolute;
	bottom: 1px;
	left:50%;
	transform:translateX(-50%);
	width: 260px;
	padding: 10px 0;
	text-decoration:none;
	font-size: 24px;
}
.wrap
{
	max-width: 350px;
	border-radius:20px;
	margin:auto;
	background: rgba(0,0,0,0.8);
	box-sizing:border-box;
	padding: 40px;
	color:#fff;
	margin-top:100px;
}
h2
{
	text-align:center;
}
.text,.pw
{
	width: 100%;
	box-sizing:border-box;
	padding: 12px 5px;
	background:rgba(0,0,0,0.10);
	outline:none;/* khung bao quanh */
	border:none;
	border-bottom:1px dotted #fff;
	color:#fff;
	border-radius:5px;
	margin: 5px;
	font-weight: bold;
}
.nhan
{
	border:0;
	background:none;
	display:block;
	margin:20px auto;
	text-align:center;
	border:2px solid #2ecc71;
	padding: 14px 40px;
	outline:none;
	color:white;
	border-radius:24px;
	transition: 0.25s;
	cursor:pointer;
}
.nhan:hover
{
	background: #2ecc71;
}
input[type="search"] {
    padding: 7px;
    float: left;
    float: right;
    position: absolute;
    top: 5px;
    right: 96px;
}

.main-wrapper
{
	margin:0 auto;
	width:600px;
}
ul
{
	float:left;
}
ul li
{
	float:left;
	list-style: none;
}
ul li a
{
	font-family: arial;
	font-style: 16px;
	color:#111;
	line-height: 63px;
	text-decoration: none;
}
.nav-login
{
}

.nav-login .form{
	float:left;
	padding-top: 15px;
	 
	margin-left:10px;
	 
}
.header{
	position:relative;
}

.nav-login .form input{
	float:left;
	width:140px;
	height:30px;
	padding: 0px 10px;
	margin-right:10px;
	border:none;
	background-color:#ccc;
	font-family: arial;
	font-size:14px;
	color:#111;
	line-height:30px;
}

.nav-login .form button
{
	float:left;
	width:140px;
	height:30px;
	padding:0px 10px;
	margin-right:10px;
	border:none;
	background-color:#f3f3f3;
	font-family: arial;
	font-size:14px;
	color:#111;
	line-height: 30px;
	background-color:#ccc;
}

 .logout
 {
	 
width: 53px;
	 
height: 27px;
	 
padding: 0px 1px;
	 
border: none;
	 
background-color: #f3f3f3;
	 
font-family: arial;
	 
font-size: 16px;
	 
color: #111;
	 
line-height: 30px;
	 
background-color: #ccc;
	 
position: absolute;
	 
left: 146px;
	 
top: 6px;
	}




	/* ------------------------------------------------------------------------------------------------------------- */


	


.frmdangky
{
	font-family: arial;
	
}
.hoten
{
	outline:0px;
	width: 330px;
	padding: 4px;
	border-radius:5px;
	margin-left: 26px;
	margin-top:5px;
}
.ngaysinh
{
	outline:0px;
	width: 93px;
	padding: 3px;
	border-radius:5px;
	margin-left: 25px;
	margin-top:5px;
}
.noisinh
{
	outline:0px;
	width: 257px;
	padding: 3px;
	border-radius:5px;
	margin-left: 19px;
	margin-top:5px;
}
.ten-dang-nhap
{
	outline:0px;
	width: 314px;
	padding: 4px;
	border-radius:5px;
	margin-left: 84px;
	margin-top:5px;
}
.mat-khau
{outline:0px;width: 317px;padding: 4px;border-radius:5px;margin-left: 129px;margin-top:5px;}
.lai-mat-khau
{
	outline:0px;
	width: 324px;
	padding: 4px;
	border-radius:5px;
	margin-left: 21px;
	margin-top: 7px;
}
.sphoten
{
	margin-top:5px;
}
.spngaysinh
{
	margin-left: 62px;
	margin-top:5px;
}
.spbansongtai
{
	margin-left: -42px;
	margin-top:5px;
}
.sptendangnhap
{
	margin-top:5px;
}
.spmatkhau
{
	margin-left: -48px;
	margin-top:5px;
}
.spxacnhan
{
	margin-top:5px;
	margin-left: -35px;
}
.dangky
{
	outline:0px;
	width: 132px;
	padding: 3px;
	border-radius:5px;
	margin-left: 418px;
	margin-top:5px;
}
.h2
{
	margin-left: -255px;
	color:#3333ff;
}

.form_i
{
	width: 100%;
	height: 103%;
	border:1px solid #3333ff;
	margin: 46px auto;
}
.do-manh
{
	float:right;
	position:absolute;
	transform: translate(227%,-126%);
}





 
 
.bao-tieude
{
	width:960px;
	height: 28px;
	margin:auto;
	display:block;
}
 span
 {
 	margin: 69px;
 	padding-top: 40px;
 	font-family: arial;
 	font-size: 21px;
 }
 .boc-sp
 {
 	width: 960px;
 	height: 125px;
 	margin:5px auto;
 	background-color:#33ee25;
 }
 .i
 {
 	float:left;
 	margin: 42px 58px;
 	width: 21px;
 	height: 24px;
 }
 .sanpham-img
 {
 	width: 347px;
 	height: 120px;
 	margin: 3px;
 	float:left;
 }
 .giasp
 {
 	width: 178px;
 	height: 25px;
 	float:left;
 	margin: 36px 50px;
 	font-family: arial;
 	font-size: 22px;
 }
 .sl
 {
 	 margin: 38px auto;
 	 float:left;
 }
 .div-img{
 	width: 100px;
 	height: 100px;
 	float:left;
 	margin: 14px 3px;
 }
 .img
 {
 	width: 100px;
 	height: 100px;
 	
 	
 }
 .tensp
 {
 	margin: 38px auto;
 	color:#121212;
 	font-family: arial;
 }


 

.bao-tieude
{
	width:960px;
	height: 195px;
	margin: 29px auto;
}
 span
 {
 	margin: 17px 14px;
 	padding-top: 37px;
 	font-family: arial;
 }
 .span-soluong
 {
 	font-size: 21px;
 	position: absolute;
 	top: -45px;
 	right: 11px;
 	color: yellow;
 	font-weight: bold;
 }
 .boc-sp
 {
 	width: 960px;
 	height: 107px;
 	margin: 37px auto;
 	background-color:#f4f4f4;
 }
 .i
 {
 	float:left;
 	margin: 37px 30px;
 	width: 21px;
 	height: 24px;
 }
 .sanpham-img
 {
 	width: 347px;
 	height: 120px;
 	margin: 3px;
 	float:left;
 }
 .giasp
 {
 	width: 178px;
 	height: 25px;
 	float:left;
 	margin-top: 34px;
 	margin-left: 87px;
 	font-family: arial;
 	font-size: 22px;
 	color: #f57224;
 }
 .sl
 {
 	 margin: 35px -35px;
 	 float:left;
 	 padding: 4px;
 }
 .div-img{
 	width: 103px;
 	height: 117px;
 	float:left;
 	margin: 3px 3px;
 }
 .img
 {
 	width: 101px;
 	height: 116px;
 }
 .tensp
 {
 	margin: 38px auto;
 	color:#121212;
 	font-family: arial;
 }
 .tieude
 {
 	float:left;
 	margin: -10px 6px;
 }
 .bam
 {
 	width: 130px;
 	height:30px;
 	padding:0px 10px;
 	margin-right:10px;
 	border:none;
 	background-color:#f3f3f3;
 	font-family: arial;
 	font-size:14px;
 	color:#111;
 	line-height: 30px;
 	background-color:#ccc;
 	transform: translate(140%,50%);
 }
  .giohang
  {
	  width:37px;
	  height: 38px;
  }
  .spsdt
  {
	margin-top:5px;
	}
  .sdt{
	outline:0px;
	width: 327px;
	padding: 4px;
	border-radius:5px;
	margin-left: 40px;
	margin-top:5px;
	}

.logo
{
	transform: translate;
	width: 136px;
	height: 60px;
	position: absolute;
	top: 0px;
	left: 5px;
}
.tieude-sanpham
{
	float: left;
	margin: -10px -3px;
}

.tieude-soluong
{
	float: left;
	margin: -6px 187px;
}

.tieude-tongtien
{
	float: left;
	margin: -5px -168px;
}


.tieude-soluong-capnhat{
	
float: left;
	
margin: -7px -46px;
}

.sl-sp
{
	width: 30px;
	padding: 6px;
	margin-top: 29px;
}

 @media only screen and (max-width: 1076px) {
     
}

@media only screen and (max-width: 1009px) {
     .container
     {
     	width: 892px;
     	
     }
     .sanpham
     {
     	width: 891px;
     }
     .thong-tin
     {
     	width: 534px;
     }
      .con
      {
      	width: 141px;
      }
      .xe-may
      {
      	padding-left:21px;
      }
      .most
      {
      	width: 44%;
      }
      .most1
      {
      	width: 220px;
      }
      .img1
      {
      	width:220px;
      	height:218px;
      }
      .footer
      {
      	width: 892px;
      }
}

@media only screen and (max-width: 700px) { /* 700px */

  .container
  {
  	width: 620px;
  }
  .navi
  {
  	font-size: 12px;
  }
  .sanpham
  {
  	width: 620px;
  }
  .thong-tin
  {
  	width: 261px;
  }
  .nut-nhan
  {
  	padding: 10px;
  	margin:17px -88px;
  }
  .nut-nhan1
  {
  	padding: 10px;
  	margin: 18px 31px;
  }

   .nam-san-pham-cung-loai
   {
   	width: 622px;
   }

  .con
  {
  	width: 96px;
  }
  .most
  {
  	width: 41%;
  }
  .most-popular
  {
  	width: 622px;
  	height: 1643px;
  }
  .ban-chay-nhat
  {
  	width: 627px;
  	min-height: 441px;
  	
  }
  .ban-chay
  {
  	font-weight: 400;
  	color: #3d1aff;
  	padding:6px 10px;
  	
  	
  }
  .xe-may
  {
  	padding-left: 51px;
  	font-size: 25px;
  }
  .most a
  {
  	width: 85%;
  }
  .most1
  {
  	height: 353px;
  	width: 203px;
  }
  .img1
  {
  	width: 204px;
  	height: 207px;
  }
  .ten-san-pham
  {
  	font-size: 14px;
  	margin: 14px 0px;
  }
  .the-p
  {
  	font-size: 21px;
  	margin: 39px 1px;
  }
  .footer
  {
  	width: 620px;
  }
  .button_1
  {
  	height: 22px;
  	width: 70px;
  	padding-left:16px;
  }
  input[type="search"]
  {
  	width:118px;
  	right:84px;
  	padding:3px;
  }

}

@media only screen and (max-width: 500px) { /* 500px */

	 
		.container
		{
			width: 439px;
		} 
		.a
		{
			padding: 3px;
			display:inline-block;
			 float:inherit;
		}
		.logo
		{
			height:56px;
		}
		.navi
		{
		    margin-top:39px;
		    margin-right:6px;
			font-size: 15px;
		}
		.most
		{
			width: 49%;
		}
		.anh1
		{
	        height:57px;
		}
		.con
		{
			margin-left:1px;
			width:72px;
		}
		.xe-may
		{
			width: 199px;
		}
		.nut-nhan
		{
			margin: 17px -4px;
		}
		.nut-nhan1
		{
			margin: 18px 27px;
		}
		.giohang
		{
			width: 35px;
			height: 32px;
		}
		input[type="search"]
		{
			right:72px;
		}
		.button_1
		{
			right:1px;
		}
		.most-popular
		{
			width: 441px;
			min-height:2006px;
			
		}
		.xe-may
		{
			padding-left: 15px;
			font-size: 19px;
		}
		.most a
		{
			width:81%;
		}
		 
        .ban-chay
        {
        	top:502px;
        	padding: 5px 10px;
        }   
        .ten-san-pham
        {
        	font-size: 14px;
        	margin:14px 2px;
        }
	    .the-p
	    {
	    	margin:30px 3px;
	    }
	  .img1
	  {
	  	width: 218px;
	  }
	  .cung-loai
	  {
	  	width: 208px;
	  	font-weight: 400;
	  }
	  .ban-chay-nhat
	  {
	  	width: 441px;
	  }
	  .sanpham
	  {
	  	width: 438px;
	  	
	  }
	  .thong-tin
	  {
	  	width: 438px;
	  }
	  .nam-san-pham-cung-loai
	  {
	  	width: 456px;
	  }
	  .footer
	  {
	  	width: 440px;
	  }
}
.tien
{
	margin:2px 2px;
}

.icon
{
	    width: 61px;
	    height: 54px;
	    float: left;
	    margin-top: 4px;
}